nodered-data/.flows.json.backup
[
    {
        "id": "7b9042e8d5096ace",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ba3186d03a11cf1a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "21fcc23e1fbd20f6",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": 8086,
        "protocol": "http",
        "database": "iot",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "9ddffb45174a388d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.20",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9ef9651589d3b2d1",
        "type": "mqtt in",
        "z": "7b9042e8d5096ace",
        "name": "",
        "topic": "pico/data",
        "qos": "2",
        "datatype": "json",
        "broker": "9ddffb45174a388d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 280,
        "wires": [
            [
                "f8ce2712f51b4441",
                "df97d508f3982832"
            ]
        ]
    },
    {
        "id": "f8ce2712f51b4441",
        "type": "function",
        "z": "7b9042e8d5096ace",
        "name": "format for influx",
        "func": "if (!msg.payload || typeof msg.payload.temp === 'undefined') {\n    return null;  // Drop bad messages\n}\n\nmsg.measurement = \"environment\";\nmsg.fields = {\n    temperature: msg.payload.temp,\n    humidity: msg.payload.hum,\n    tilt: msg.payload.tilt\n};\nmsg.tags = {\n    location: \"lab\"\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 340,
        "wires": [
            [
                "a205b6a327d99d13",
                "f5f0062e04d97a21"
            ]
        ]
    },
    {
        "id": "a205b6a327d99d13",
        "type": "influxdb out",
        "z": "7b9042e8d5096ace",
        "influxdb": "21fcc23e1fbd20f6",
        "name": "",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 720,
        "y": 280,
        "wires": []
    },
    {
        "id": "f5f0062e04d97a21",
        "type": "debug",
        "z": "7b9042e8d5096ace",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 180,
        "wires": []
    },
    {
        "id": "df97d508f3982832",
        "type": "debug",
        "z": "7b9042e8d5096ace",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 200,
        "wires": []
    }
]